# Packages
/node_modules
/vendor

# Caches
.php_cs.cache
.phpunit.cache
.phpunit.result.cache

# Configuration
.env
.php_cs
.yo-rc.json

# Logs
npm-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/

# Operating system
.DS_Store
